* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #eee;
}

.ad1 {
    background: url(../img/ad1.jpg) no-repeat;
}

.arrow-left, .arrow-right {
    border: 1px solid #ccc;
    padding: .2rem .6rem .2rem .6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.7);
}

.arrow-left {
    margin-right: .5rem;
}

.arrow-left:hover, .arrow-right:hover {
    background: #222;
    color: #fff;
}


.all-categ {
    font-size: 0.8rem;
    color: #999;
    font-weight: 600;
    list-style-type: none;
    margin-bottom: 1rem;
}

.categories {
     position: absolute;
     margin-top: 4.5rem;
     background: #fff;
     width: 20%;
     padding: 1rem 0 1rem 1rem;
     border-radius: 5px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.1)
}

.categories-item a {
    text-decoration: none;
    color: #222;
}

.categories-item {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
}

.categories-item ul {
    margin-top: 1rem;
}

.content {
    padding: 2% 8% 5% 30%;
}


.categories-item a:hover {
    color: rgba(248, 203, 0, 1)
}

.cart-icon {
    color: rgba(255, 255, 255, 0.8);
    margin-left: .5rem;
}

.contact {
    display: inline-flex; 
    padding-left: 8%;
}

.contact .subTitle {
    margin:  0; 
    padding: 0; 
    margin: 0.2rem 0 0 1rem;
    font-weight: 500;
}

.count {
    background: rgba(57, 58, 177, 1);
    padding: .93rem;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0 5px 5px 0;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.fa-search {
    color: #888;
    vertical-align: middle;
}

.filters {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #666;
}

.brand-filter, 
.skin-filter,
.age-filter,
.sort-by {
    margin-right: 5%;
}

.filter-blue {
    color: rgba(99, 100, 216, 1);
}

.sort-by {
    float: right;
    text-align: right;
    margin: 0;
}

header {
    display: flex;  
    background-color: rgba(248, 203, 0, 1);
    height: 10rem;
    padding: 2% 8% 0 8%;
    justify-content: space-between;
}

hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.items {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-size: 0.7rem;
}

.items a {
    color: #888;
}


.items:hover {
    color: rgba(248, 203, 0, 1)
}

.navLeftSide {
    display: inline-flex;
    width: 60%;
}

.logo {
    width: 33.3%;
    padding-left: 2.1%;
}

.logo a {
    text-decoration: none;
    
}

.navigation {
    text-align: right;
    width: 30%;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style-type: none;
}

.menu-item a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.menu-item a:hover {
    color: #fff
}

.myCart {
    position: absolute;
    right: 8vw;
    background: rgba(99, 100, 216, 1);
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 12vw;
}
.myCart-text {
    color: #fff;
    font-size: 1vw;
    padding: 0 .5rem 0 .5rem;
}

.pagination {
    display: inline-flex;
}

.pagination h4 {
    margin-right: 1.5rem;
    align-self: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: #666;
}

#products {
    display: flex;
    justify-content: space-between;
    flex-flow:  row wrap;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 2rem;

}

.product {
    padding: 2rem;
    background: #fff;
    text-align: center;
    width: 22%;
    height: 19.7rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product-img {
    width: 90%;
}

.product h4 {

}

.price {
    color: rgba(248, 203, 0, 1);
}

.searchBar {
    position: absolute;
    margin-top: 4.5rem;
    margin-left: 22%;
    background: #fff;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 48.1%;
}

.searchBar input:focus {
    outline: none
}

.searchBar input {
    border: none;
    height: 2rem;
    margin-left: 1vw;
    width: 80%;
    vertical-align: middle;
    color: #888;
}
